* {
    margin: 0;
}

body {
    margin: 20px;
}
.suggestion {
    margin: 20px 0px;
}
.todo-item {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 20px;
}
.item-content {
    display: flex;
    gap: 5px;
    align-items: center;
}
.todo-input {
    margin-right: 10px;
}
.todo-button {
    margin-right: 10px;
}
